.thai {
    font-family: 'Kanit', sans-serif ;
    color: #fafafa;
    font-size: 1.5em;
}

.text {
    margin: 5px auto;
}

.line-chart {
    width: 210px;
    height:100
  }
  
  @media only screen and (max-width: 2500px) {
    .line-chart {
      width: 210px;
      height:100
    }
  }
  
  @media only screen and (max-width: 900px) {
    .line-chart {
      width: 600px;
      height:100px;
    }
  }
  @media only screen and (max-width: 500px) {
    .line-chart {
      width: 300px;
      height:100px;
    }
  }